@import url("fonts.css");

@import url("reset.css");

/*MAIN_SETTINGS ============================= */
.wrapper {
	display: flex;
	flex-direction: column;

	overflow: clip;
	min-height: 100%;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1320px;
	margin: 0 auto;
	padding-inline: 15px;
}

body {
	font-family: "ProximaNova", sans-serif; 
	/** не забуваємо про sans-serif */
	color: #535353;
}
.menu-open body{
	overflow: hidden;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
/* =============================MAIN_SETTINGS */

/*! TOP_HEADER ============================= */
.header__top {
}

.top-header {
	background-color: #f8f8f8;
	padding-block: 15px;
}
.top-header__container {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 10px;
	flex-wrap: wrap;
	align-items: center;
}

/*?MENU ================ */
.top-header__menu {
}
.menu-top-header {
}
.menu-top-header__list {
	display: flex;
	column-gap: 30px;
	row-gap: 10px;
}
.menu-top-header__item {
}
.menu-top-header__link {
}
/*? ================MENU */

/*?ACTION ================ */
.top-header__action {
	display: flex;
	column-gap: 30px;
	row-gap: 10px;
	flex-wrap: wrap;
	align-items: center;
}


/**SOCIAL ====== */
.top-header__socials {
}
.socials-top-header {
	display: flex;
	align-items: center;
	column-gap: 20px;
	row-gap: 5px;
	flex-wrap: wrap;
}

.socials-top-header__label {
}

.socials-top-header__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 5px;
}

.socials-top-header__item {
}
.socials-top-header__link {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.socials-top-header__link--whatsapp {
	background: #75B73B url("../img/whatsapp.svg")center no-repeat;
}
.socials-top-header__link--telegram {
	background: #40B3E0 url("../img/telegram.svg")center no-repeat;

}
.socials-top-header__link--viber {
	background: #6F3FAA url("../img/viber.svg")center no-repeat;
}
/** ======SOCIAL */

/**LANG ====== */
.top-header__lang {
}
.lang-top-header {
	position: relative;
	cursor: pointer;
}
.lang-top-header__label {
	position: relative;
	z-index: 7;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
.lang-top-header__label::after {
	content: "";
	flex-shrink: 0;
	width: 12px;
	height: 8px;
	background: url("../img/arrow-down.svg") center no-repeat;
}
.lang-top-header__list {
	position: absolute;
	top: 0;
	left: -5px;
	min-width: 60px;
	padding: 44px 5px 10px 5px;
	background-color: #ffffffb8;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: top 0.3s, opacity 0.3s;
	z-index: 6;
}
	.lang-open .lang-top-header__list {
		top: -10px;
		opacity: 1;
		pointer-events: all;
	}

@media (max-width: 860px) {
	/* .lang-top-header__list {
		top: -90px;
	}
	.lang-top-header:hover .lang-top-header__list {
		top: -100px;
	} */
}

.lang-top-header__item:not(:last-child) {
	margin-bottom: 8px;
}
.lang-top-header__link {
	font-size: 17px;
	font-weight: 600;
	line-height: 1.26;
}
/** ======LANG */
/*? ================ACTION */

@media (max-width: 1240px) {
	.top-header__action,
	.socials-top-header,
	.menu-top-header__list{
		column-gap: 15px;
	}
}


/*! =============================TOP_HEADER */


/*!BODY_HEADER aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.header__body {
}
.body-header {
	padding-block: 25px;
	border-bottom: 2px solid #f8f8f8;
	background: #fff;
}
.body-header__container {
	display: flex;
	align-items: center;
	column-gap: 30px;
	row-gap: 10px;
	/* flex-wrap: wrap; */
}

/*?BURGER bbbbbbbbbbbbbbbbbbbbbbbbbb */
.menu-icon {
	display: none;
}
@media (max-width: 992px) {
	.menu-icon {
		display: block;
		position: relative;
		z-index: 3;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: all 0.3s;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		transform: translateY(-50%);
	}
	
	.menu-open .menu-icon::before {
		top: 8px;
		transform: rotate(45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 8px;
		transform: rotate(-45deg);
	}
	.menu-open .menu-icon span {
		transform: scale(0.01);
	}
}

/*? bbbbbbbbbbbbbbbbbbbbbbbbbb BURGER*/

/*?LOGO bbbbbbbbbbbbbbbbbbbbbbbbbb */
.body-header__logo {
	position: relative;
	z-index: 7;
	margin-right: 4px;
	width: 250px;
	overflow: hidden;
	flex-shrink: 0;
}

[src="img/logo-small.svg"] {
	display: none;
}
/*? bbbbbbbbbbbbbbbbbbbbbbbbbb LOGO*/

/*?BUTTON bbbbbbbbbbbbbbbbbbbbbbbbbb */
.body-header__button {
	position: relative;
	z-index: 7;
}
.button-body-header {
	padding: 11px 20px;
	background-color: #ffbc57;
	border-radius: 8px;
	transition: background-color 0.3s;
	min-height: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
@media (any-hover: hover) {
	.button-body-header:hover {
	background-color: #f8c983;
	}
}
.button-body-header__label {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
}
.button-body-header__label::before {
	content: "";
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	background: url("../img/menu-catalog.svg") 0 0 no-repeat;
}
@media (max-width: 1240px) {
	.button-body-header__label::before {
		display: none;
	}
}

/*? bbbbbbbbbbbbbbbbbbbbbbbbbb BUTTON*/

/*?SEARCH bbbbbbbbbbbbbbbbbbbbbbbbbb */
.body-header__search {
	position: relative;
	z-index: 7;
	flex-grow: 1;
}
.search-body-header {
	display: flex;
	position: relative;
	align-items: center;
}
.search-body-header__input {
	height: 50px;
	padding: 10px 40px 10px 15px;
	border-radius: 8px;
	border: 1px solid #B1B1B1;
}
.search-body-header__input::placeholder {
	color: #B1B1B1;
}
.search-body-header__button {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	flex-shrink: 0;
	background: url("../img/search.svg")0 0 no-repeat;
}


.search-body-header__input::-webkit-search-decoration,
.search-body-header__input::-webkit-search-cancel-button {
	display: none;
}
/*? bbbbbbbbbbbbbbbbbbbbbbbbbb SEARCH*/

/*?CONTACT bbbbbbbbbbbbbbbbbbbbbbbbbb */
.body-header__contact {
	position: relative;
	z-index: 7;
}
.contact-body-header {
	display: flex;
	align-items: center;
	gap: 10px;
	white-space: nowrap;
}
@media (max-width: 980px) {
	.contact-body-header {
		white-space: inherit;
	}
}
/**ICON cccccccccccccccccccccc */
.contact-body-header__icon {
	position: relative;
	z-index: 4;
	width: 50px;
	height: 50px;
	flex-shrink: 0;
	background: #f8f8f8 url("../img/tel.svg") center / 24px no-repeat;
	border-radius: 50%;
}
/** ccccccccccccccccccccccICON */
/**BODY cccccccccccccccccccccc */
.contact-body-header__body {
	position: relative;
	z-index: 3;
	padding-right: 34px;
}
.contact-body-header__body::after {
	content: "";
	position: absolute;
	z-index: 2;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 8px;
	background: url("../img/arrow-down.svg") 0 0 no-repeat;
}

@media (any-hover: hover) {
	.contact-body-header:hover .contact-body-header__body::after {
		background: url("../img/cross.svg") 0 0 no-repeat;
		width: 12px;
		height: 12px;
	}
}

.contact-body-header__label {
	position: relative;
	z-index: 2;
	font-size: 13px;
	font-weight: 300;
}
.contact-body-header__label:not(:last-child) {
	margin-bottom: 5px;
}
.contact-body-header__number {
	position: relative;
	z-index: 2;
	color: #2B2929;
	font-size: 20px;
	font-weight: 600;
	/* line-height: 1.4; */
}
.contact-body-header__menu {
	position: absolute;
	top: -10px;
	left: -80px;
	min-width: 270px;
	padding-top: 68px;
	padding-left: 80px;
	padding-right: 10px;
	padding-bottom: 25px;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	transition: top 0.3s, opacity 0.3s;
	pointer-events: none;
	opacity: 0;
}
.contact-body-header:hover .contact-body-header__menu {
	pointer-events: all;
	opacity: 1;
	top: -20px;
}
.contact-body-header__list:not(:last-child) {
	margin-bottom: 15px;
}
.contact-body-header__item:not(:last-child) {
	margin-bottom: 10px;
}
.contact-body-header__item__link {
	color: #2B2929;
	font-size: 20px;
	font-weight: 600;
}

.contact-body-header__call-back {
	color: #FFBC57;
	color: #2B2929;
	font-size: 19px;
	font-weight: 600;
	line-height: 24px;
}
.contact-body-header__call-back,
.contact-body-header__item__link,
.contact-body-header__number {
	transition: color 0.3s;
}
.contact-body-header__icon {
	transition: background-color 0.3s;
}
@media (any-hover: hover) {
	.contact-body-header__call-back:hover,
	.contact-body-header__item__link:hover,
	.contact-body-header__number:hover {
		color: #FFBC57;
	}
	.contact-body-header__icon:hover {
		background-color: #FFBC57;
	}
}
/** ccccccccccccccccccccccBODY */
/*? bbbbbbbbbbbbbbbbbbbbbbbbbb CONTACT*/

/*?ACTION bbbbbbbbbbbbbbbbbbbbbbbbbb */
.body-header__action {
	position: relative;
	z-index: 5;
}
@media (max-width: 860px) {
	.body-header__action {
		display: none;
	}
}
.action-body-header {
	display: flex;

	gap: 20px;
}
.action-body-header__link {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border: 2px solid #FFBC57;
	border-radius: 50%;
	transition: background-color 0.3s;
	background-color: #fff;
	z-index: 2;
}
@media (any-hover: hover) {
	.action-body-header__link:hover {
		background-color: #FFBC57;
	}
}
.action-body-header__link--favorite {
}
.action-body-header__link--cart {
}
/*? bbbbbbbbbbbbbbbbbbbbbbbbbb ACTION*/

@media (max-width: 860px) {
	.body-header__action {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 1;
	}
}
/*! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa BODY_HEADER*/


/*!BOTTOM_HEADER aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.header__bottom {
}
.bottom-header {
	padding-block: 18px;
	background: #fff;
}

.bottom-header__container {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	column-gap: 40px;
}
/*?SECTION bbbbbbbbbbbbbbbbbbbbbbbbbb */
.bottom-header__sections {
}
.sections-bottom-header {
}
.sections-bottom-header__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

.sections-bottom-header__item {
}
.sections-bottom-header__link {
font-size: 19px;
font-weight: 600;
line-height: 1.26;
display: flex;
align-items: center;
column-gap: 5px;
}

.sections-bottom-header__link::before {
	content: "";
	width: 24px;
	height: 24px;
}
.sections-bottom-header__link--star::before {
	background: url("../img/star.svg") 0 0 no-repeat;
}
.sections-bottom-header__link--sale::before {
	background: url("../img/sale.svg") 0 0 no-repeat;
}
.sections-bottom-header__link--part::before {
	background: url("../img/part.svg") 0 0 no-repeat;
}
/*? bbbbbbbbbbbbbbbbbbbbbbbbbbSECTIONS */

/*?CATEGORIES bbbbbbbbbbbbbbbbbbbbbbbbbb */
.bottom-header__categories {
}
.categories-bottom-header {
}
.categories-bottom-header__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

.categories-bottom-header__item {
}
.categories-bottom-header__link {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
/*? bbbbbbbbbbbbbbbbbbbbbbbbbbCATEGORIES */

@media (max-width: 1240px) {
	.bottom-header__container {
		column-gap: 20px;
	}
	.sections-bottom-header__list,
	.categories-bottom-header__list {
		column-gap: 10px;
	}
}

@media (max-width: 992px) {
	.sections-bottom-header__list,
	.categories-bottom-header__list {
		flex-direction: column;
	}
	.bottom-header__container {
		flex-direction: column-reverse;
	}

	.bottom-header__container {
		column-gap: 20px;
	}
	.sections-bottom-header__list,
	.categories-bottom-header__list {
		column-gap: 10px;
	}
}
/*! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa BOTTOM_HEADER*/


/*!MEDIA MEDIA aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
@media (max-width: 1240px) {
	.body-header__logo {
		width: 167px;
		display: flex;
		justify-content: flex-end;
	}
	.body-header__logo img {
		width: 250px;
		flex-shrink: 0;
	}
}

@media (max-width: 992px) {
	.body-header__burger-block {
		display: flex;
		flex-direction: column;
		padding-top: 120px;
		position: fixed;
		z-index: 2;
		top: 0;
		right: -100%;
		transition: right 0.3s;
		width: 100%;
		height: 100%;
		background-color: #fff;
		row-gap: 50px;
		overflow: auto;
	}
	.menu-open .body-header__burger-block {
		right: 0;
	}
.body-header__burger-block::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100px;
		top: 0;
		right: -100%;
		background-color: #fff;
		z-index: 8;
		transition: right 0.3s;
	}
	.menu-open .body-header__burger-block::before {
		right: 0;
	}

	.top-header__container {
		row-gap: 23px;
		order: 2;
	}

	.top-header,
	.bottom-header {
		display: none;
		background-color: #fff;
	}
	.top-header__container,
	.menu-top-header__list {
		flex-direction: column;
		align-items: flex-start;
		/* font-size: 30px; */
	}

	.top-header__action {
		width: 100%;
		justify-content: space-between;
		row-gap: 40px;
	}

	.menu-top-header__list,
	.categories-bottom-header__list {
		row-gap: 30px;
	}

	.menu-top-header__link,
	.socials-top-header__label,
	.categories-bottom-header__link,
	.sections-bottom-header__link {
		font-size: 30px;
	}

	.body-header__burger-block [class*="__container"] {
		margin: 0;
	}

	.contact-body-header__body {
		display: none;
	}

	.bottom-header__container {
		order: 1;
		row-gap: 50px;
	}

	.sections-bottom-header__list {
		row-gap: 30px;
	}
}

@media (max-width: 720px) {
	.search-body-header__input::placeholder {
		opacity: 0;
	}
}

@media (max-width: 440px) {
	.body-header__container {
		column-gap: 10px;
	}
	[src="img/logo-header.svg"] {
		display: none;
	}
	[src="img/logo-small.svg"] {
		display: block;
	}
	.body-header__logo {
		width: 100px;
	}
	.body-header__logo img {
		width: 100%;
	}
}
/*! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa MEDIA MEDIA*/



/*!MAIN aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.categories {
	background-color: #f8f8f8;
}
.categories__container {
	padding: 70px 15px 35px;
}
.categories__title-block:not(:last-child) {
	margin-bottom: 40px;
}
.title-block {
	display: flex;
	align-items: center;
	column-gap: 30px;
}
.title-block__title {
	font-size: 40px;
	line-height: 1.2;
}
.title-block__link {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.title-block__text {
	max-width: 100%;
	color: #FFBC57;
	line-height: 1.26;
}
.gallery-categories {
	display: flex;
	flex-wrap: wrap;
	margin-inline: -5px;
	row-gap: 24px;
}
.gallery-categories__item {
	position: relative;
	padding-inline: 5px;
	flex-grow: 1;
	width: 19.38%;
	min-width: 210px;
	max-width: 260px;
}

.gallery-categories__content {
	position: relative;
	border-radius: 8px;
	box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
	background: #fff url("../img/categories/bg-circle.webp") center bottom/contain  no-repeat;
	overflow: hidden;
}


.gallery-categories__content .gallery-categories__img {
	transition: transform 0.3s;
	transform-origin: bottom;
}
.gallery-categories__content:hover .gallery-categories__img {
	transform: scale(1.15);
}



.gallery-categories__content::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background: url("../icons/categories/arrow-link.svg") center/contain no-repeat;
	bottom: 20px;
	right: 20px;
	z-index: 3;
}

.gallery-categories__description {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 20px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}
.gallery-categories__body-description {

}
.gallery-categories__text {
	max-width: 130px;
}
.gallery-categories__image {
	position: relative;
	padding-bottom: 120%;
	z-index: 1;
}
.gallery-categories__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}







.popular {
	padding: 35px 0 40px;
	background-color: #f8f8f8;
}
.popular__title-block {
	margin-bottom: 40px;
}
.gallery-popular {
	display: flex;
	flex-wrap: wrap;
	margin-inline: -15px;
	row-gap: 30px;
}
.item-popular {
	padding-inline: 15px;
	width: 23.5%;
	min-width: 300px;
	flex-grow: 1;
}

.item-popular__content {
	background-color: #fff;
	border-radius: 8px;
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.item-popular__image {
	margin-bottom: 20px;
	border-radius: 8px;
	overflow: hidden;
}

.item-popular__image img {
	width: 100%;
}

.item-popular__body>*:not(:last-child){
	margin-bottom: 10px;
}

.item-popular__sizes {
font-size: 13px;
font-weight: 300;
line-height: 1.69
}
.item-popular__product-name {
	color: #2B2929;
line-height: 1.26
}
.item-popular__availability {
	display: flex;
	align-items: center;
	gap: 5px;
}
.item-popular__text {
	color: #2B2929;
font-size: 13px;
font-weight: 300;
line-height: 1.69;
}

.item-popular__footer {
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
}

.item-popular__body-footer {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	align-items: center;
}

.price__discount {
	color: #E03D3D;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46;
	text-decoration: line-through;
}
.price__current {
	color: #2B2929;
font-size: 20px;
font-weight: 600;
line-height: 1.4;
}
.icons {
	display: flex;
	column-gap: 10px;
}
.icons__link {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.icons__link--inactive {
	background-color: #f8f8f8;
	border: none;
}
.icons__link--orange {
	background-color: #FFBC57;
}








.discounts {
	padding: 40px 0 30px;
	background-color: #f8f8f8;
}
.discounts__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	column-gap: 40px;
	row-gap: 18px;
}

.arrows__block {
	display: flex;
	width: 140px;
	justify-content: space-between;
}
.arrows__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
}
.arrows__arrow--right {
	transform: rotateY(180deg);
}
.items-discounts {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.items-discounts__media {
	border-radius: 8px;
	overflow: hidden;
}
.items-discounts__media img {
	transition: transform 0.2s;
}
.items-discounts__media:hover img {
	transform: scale(1.05);
}
/*! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa MAIN*/