/* Подключение шрифтов */
@import url("fonts.css");

/* Обнуление стилей */
@import url("reset.css");

.main {
}
.content {
}
.content__indents {
}
.indents {
	padding: 30px 0;
}
.indents__container {
}
[class*="__container"] {
	max-width: 1030px;
	padding: 0 15px;
	margin: 0 auto;
}

.indents__general-block {
	margin-bottom: 40px;
}
.general-block-indents {
	text-align: center;
}
.general-block-indents__title-part {
	margin-bottom: 15px;
}
.general-block-indents__title {
	font-size: 24px;
	padding: 10px 23%;
	display: inline-block;
	background-color: red;
	margin-bottom: 15px;
}
.general-block-indents__title h2 {
	text-transform: uppercase;
	color: #fff;
}
.general-block-indents__arows {
	text-align: left;
	font-size: 0;
}
.general-block-indents__img {
	display: inline-block;
	width: 50%;
	text-align: center;
}
/* .general-block-indents__img_right {
	text-align: right;
} */

.general-block-indents__blocks {
	font-size: 0;
}
.general-block-indents__block {
	vertical-align: top;
	display: inline-block;
	width: 50%;
	padding: 0 20px;
}
.general-block-indents__block_1 {
}
.general-block-indents__text {
	font-size: 20px;
	font-style: oblique;
	background-color: blue;
	line-height: 40px;
	color: #fff;
}
.general-block-indents__block_2 .general-block-indents__text {
	background-color: green;
}

/* ============================================================ */

.indents__main-rules {
	max-width: 66%;
	margin: 0 auto;
	margin-bottom: 40px;
}
.main-rules-indents {
}

.main-rules-indents__title {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.8;
	color: gold;
}

.main-rules-indents__block {
	margin-bottom: 7px;
}

.main-rules-indents__block span {
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
	font-style: oblique;
}


.main-rules-indents__block img {
	vertical-align: middle;
}

/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

.indents__definition {
	margin-bottom: 50px;
}
.definition {
	font-size: 0;
	margin: 0 -10px;
	color: white;
	margin-bottom: 45px;
}
.definition__sideblock {
	font-size: 16px;
	display: inline-block;
	width: 40%;
	padding: 0 10px;
}
.sideblock-definition {
}
.sideblock-definition__header {
	/* width: 100%; */
	min-height: 100px;
	background-color: rgb(46, 153, 193);
	margin-bottom: 20px;
}

.sideblock-definition__title {
	font-size: 30px;
	padding: 32px 0 38px;
	text-align: center;
	white-space: nowrap;
	overflow: auto;
}

.sideblock-definition__item {
	height: 50px;
	background-color: rgb(226, 51, 51);
	margin-bottom: 10px;
	padding: 5px;
	overflow: scroll;
}
.sideblock-definition__item span {
	color: goldenrod;
	font-size: 24px;
}
.no-margin-bottom {
	margin-bottom: 0;
}


.definition__mainblock {

}

.mainblock-definition {
	vertical-align: top;
	font-size: 16px;
	display: inline-block;
	width: 60%;
	padding: 0 10px;
	height: 230px;
}

.mainblock-definition__content {
	background-color: rgb(18, 140, 18);
	height: 100%;
	padding:  38px 25px 0 ;
	/* overflow: auto; */
}

.mainblock-definition__title {
	font-size: 24px;
	margin-bottom: 20px;
}

.mainblock-definition__text {
	font-size: 20px;
}

.margin .sideblock-definition__header {
	background-color: rgb(18, 140, 18);
}

.margin .sideblock-definition__item {
	background-color: rgb(46, 153, 193);
}

.margin .mainblock-definition__content {
	background-color: rgb(226, 51, 51);
}

/* ================================================ */

.general-block-indents__rows {
	margin-bottom: 30px;
}

.examples__block {
	display: inline-block;
	width: 100%;
	height: 300px;
	background-color: #000;
	padding: 7px;
}

.general-block-indents__block_1 .examples__inside-block {
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.general-block-indents__block_1 .examples__inside-block div {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 255, 0.3);
	padding: 30px;
}
.general-block-indents__block_1 .examples__inside-block div div {
	width: 100%;
	height: 100%;
	background-color: #fff;
}


.general-block-indents__block_2 .examples__inside-block {
	background-color: black;
	width: 100%;
	height: 100%;
	padding: 7px;
}

.general-block-indents__block_2 .examples__block {
	background-color: rgba(0, 128, 0, 0.3);
	padding: 30px;
}

.examples__inside-block div {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.examples .general-block-indents__text {
	margin-bottom: 20px;
}

.general-block-indents__row {
	text-align: left;
	font-size: 20px;
	margin-bottom: 10px;
}
.general-block-indents__square {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #B2B2FF;
}
.general-block-indents__row-text {
	vertical-align: top;
}


.general-block-indents__row_2 .general-block-indents__square {
	background-color: #000;
}

.general-block-indents__row_2 {
	margin-bottom: 0;
}

.general-block-indents__block_2 .general-block-indents__row_1 .general-block-indents__square{
	background-color: #BED9B9;
}

[alt*="внутрішній відступ"] {
	margin-top: -20px;
}

[alt*="зовнішній відступ"] {
	padding-top: 13px;
	margin-bottom: -10px;
}

[src*="arrow-up"] {
	margin-top: -30px;
}







